.blog-intro {
    display: flex;
    flex-direction: column;
}

.blog-description {
    margin-bottom: 115px;
}


.all-posts {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.blog-item-container {
    display: flex;
    justify-content: space-between;

    width: 100%;
}



.blog-photo {
    max-width: 500px;
    width: 100%;
}
.blog-preview{
    max-width: 700px;
    width: 100%;
}
.blog-title {

    margin-bottom: 30px;
}

.blog-text {

    margin-bottom: 50px;
}

.arrow-link-right {
    max-width: 200px;
    width: 100%;
    
}

.arrow-link-right a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #EBEBEB;
}