.contacts {
    display: flex;
    flex-direction: column;

    margin: 0 auto 200px;

    background: url('./../img/beach.png') no-repeat;
    background-size: 40%;
    background-position: 60%;
}

.contacts p,
.contacts a {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #EBEBEB;
}

.contact-copyright {
    margin: 100px 0;
}