.feedback{
    background: url('./../img/mountains.png') no-repeat;
    background-position: 0 100%;
}

.feedback-description {
    margin-bottom: 150px;
}


.all-feedback {
    display: flex;
    gap: 50px;
}

.feedback-box {
    max-width: 600px;
    width: 100%;
}

.feedback-box__name {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.feedback-box__name img {
    margin-right: 20px;
}

