/* 1700px */
@media (max-width: 1700px) {
    h1 {
        font-size: 120px;
        line-height: 100%;
        max-width: 1250px;
    }

    .header {
        max-width: 1250px;
    }

    section:not(:first-child) {
        max-width: 1300px;
    }

    form {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    input {
        max-width: unset;
        margin-bottom: 20px;
    }

    .contacts,
    .tour-form {
        background-size: unset;
    }
}


/* 1500px */
@media (max-width: 1500px) {
    h1 {
        margin: 200px auto;
    }

    section:not(:first-child) {
        max-width: 1200px;
    }

    .blog-preview {
        max-width: 600px;
    }

}

/* 1300px */
@media (max-width: 1300px) {
    h1 {
        margin: 200px auto;
        font-size: 100px;
        max-width: 1050px;
        margin: 150px auto;
        transform: none !important;
    }

    .header {
        max-width: 1050px;
    }

    section:not(:first-child) {
        max-width: 1100px;
    }

    .blog-preview {
        max-width: 500px;
    }

}


/* 1200px */
@media (max-width: 1200px) {
    h1 {
        margin: 200px auto;
        font-size: 100px;
        max-width: 1050px;
        margin: 120px auto;
    }

    .header {
        max-width: 1050px;
    }

    section:not(:first-child) {
        max-width: 1000px;
    }

    .blog-preview {
        max-width: 400px;
    }

    .tour-form__title,
    .category {
        margin-bottom: 100px;
    }

}



/* 1100px */
@media (max-width: 1100px) {
    h1 {
        font-size: 80px;
        margin: 100px auto;
        max-width: 835px;
    }

    .header {
        max-width: 835px;
    }

    .arrow-link {
        max-width: 160px;
    }

    section:not(:first-child) {
        max-width: 900px;
    }

    .all-feedback {
        flex-direction: column;
    }

    .blog-photo {
        max-width: 400px;
        align-self: baseline;
    }
}



/* 1000px */
@media (max-width: 1000px) {
    h1 {
        font-size: 60px;
        margin: 85px auto 130px;
        max-width: 625px;
    }

    .header {
        max-width: 625px;
    }

    h2 {
        font-size: 40px;
        line-height: 100%;
        min-height: unset;
    }

    .contacts p,
    .contacts a,
    label,
    input,
    p,
    .header a,
    .arrow-link a,
    .nav-links.nav-links__mob li a,
    .arrow-link__feedback a,
    .arrow-right a,
    .arrow-link__blog a {
        font-size: 20px;
        line-height: 100%;
    }

    .arrow-link {
        max-width: 100px;
    }



    .arrow-link img,
    .mobile-nav__button--close img,
    .arrow-right img,
    .arrow-link__blog img {
        max-width: 20px;
    }

    .mobile-nav__button--close {
        margin: 20px 50px 20px auto;
    }

    .nav-links.nav-links__mob li,
    .nav-links.nav-links__mob li a {
        padding: 10px 0;
    }

    .mobile-nav {
        max-width: 500px;
    }

    section:not(:first-child) {
        max-width: 800px;
    }

    .blog-photo {
        max-width: 300px;
        align-self: baseline;
    }
}



/* 900px */
@media (max-width: 900px) {
    .header {
        padding: 30px 0;
    }

    section:not(:first-child) {
        max-width: 700px;
    }

    .blog-preview {
        max-width: 300px;
    }
}


/* 800px */
@media (max-width: 800px) {
    .header {
        padding: 20px 0;
    }

    h1 {
        margin: 85px auto;
    }

    section:not(:first-child) {
        max-width: 600px;
    }

    input {
        max-width: 500px;
    }

    .blog-item-container {
        flex-direction: column;
    }

    .blog-photo {
        margin-bottom: 20px;
    }

    .blog-photo,
    .blog-preview {
        max-width: unset;
    }
}


/* 700px */
@media (max-width: 700px) {
    .header {
        max-width: 525px;

    }

    h1 {
        font-size: 50px;
        max-width: 525px;
    }

    h2 {
        font-size: 30px;
    }

    section:not(:first-child) {
        max-width: 500px;
    }

    input {
        max-width: 400px;
    }


}



/* 600px */
@media (max-width: 600px) {
    .header {
        max-width: 420px;

    }

    h1 {
        font-size: 40px;
        margin: 60px auto;
        max-width: 420px;
    }

    section:not(:first-child) {
        max-width: 400px;
    }

    input {
        max-width: 350px;
    }

}



/* 500px */
@media (max-width: 500px) {

    .header {
        padding: 0;
    }


    h1 {
        font-size: 40px;
        max-width: 420px;
    }

    .header a,
    .arrow-link a,
    .nav-links.nav-links__mob li a,
    .arrow-link__feedback a,
    .arrow-right a,
    .arrow-link__blog a {
        font-size: 14px;
    }

    .nav-links.nav-links__mob li {
        padding: 0;
    }

    input {
        max-width: 300px;
    }


}



/* 450px */
@media (max-width: 450px) {
    h1 {
        font-size: 30px;
        max-width: 315px;
    }

    .header {
        max-width: 315px;
    }

    section:not(:first-child) {
        max-width: 350px;
    }
}



/* 400px */
@media (max-width: 400px) {
    h1 {
        font-size: 27px;
        margin: 40px auto;
        max-width: 290px;
    }

    .header {
        max-width: 290px;
    }

    section:not(:first-child) {
        max-width: 300px;
    }

    input {
        max-width: 250px;
    }
}