.mission{
    margin: 400px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.all-missions{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;

    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.mission-info-item{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
}

.mission-info-item:first-child {
    flex-direction: row;
    gap: 100px;
    max-width: 1600px;
    width: 100%;

    position: absolute;
    top: 0;
}


.mission-title {
    max-width: 700px;
    width: 100%;
}

.mission-description {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;

    max-width: 700px;
    width: 100%;
}


.mission-img-container {
    overflow-x: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    order: -1;
    margin-top: 200px;
}

.mission-img{
    max-width: 500px;
}

.mission-img:first-child{
    margin-bottom: 600px;
}

.mission-img:nth-child(2){
    margin-top: 200px; 
    margin-bottom: 400px;
}

.mission-img:nth-child(3){
    margin-top: 400px; 
    margin-bottom: 200px;
}

.mission-img:last-child{
    margin-top: 600px; 
}

