.tour-form {
    background: url(./../img/sand.png) no-repeat;
    background-position: 100% 100%;
    background-size: 75%;
}

.tour-form__title {
    margin-bottom: 200px;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 150px 20px;

    width: 100%;
    margin: 0 auto;
}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    max-width: 155px;
    width: 100%;
}

input {
    max-width: 275px;
    width: 100%;
    background: transparent;
    border: 2px solid #EBEBEB;
    padding: 20px;
    outline: none;
    font-size: 30px;
    line-height: 36px;
    color: #EBEBEB;
}

.arrow-right {
    

    max-width: 150px;
    width: 100%;
    margin: 200px auto 0;
}

.arrow-right a {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: justify;

    color: #EBEBEB;
}

