.tour-form {
    background: url(./../img/bckg_gradient.png) no-repeat;
    padding: 95px 0 130px;
    margin-bottom: 130px;
}

.tour-form__title {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
    text-align: center;

    color: #020203;

    margin-bottom: 200px;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 150px 20px;

    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;

    color: #020203;
    max-width: 155px;
    width: 100%;
}

input {
    max-width: 275px;
    width: 100%;
    background: transparent;
    border: 2px solid #020203;
    padding: 20px;
    outline: none;
    font-size: 50px;
    line-height: 61px;

}

.arrow-right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 210px;
    width: 100%;
    margin: 200px auto 0;
}

.arrow-right a {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    text-align: justify;

    color: #020203;
}

#date::placeholder {
    color: transparent;
}